<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page | rateit.com</title>
    <link rel="stylesheet" href="../css/error.css">
</head>

<body>
    <div id="cont1">
    <div id="cont2">
        <img id="error_img" src="https://github.com/GP-GANG/rateit.github.io/blob/main/Other%20Files/photos/error.png?raw=true" alt="#ERROR">

        <p>OOPS! PAGE NOT FOUND</p>
        <h3>Sorry, <%=states%>'s page you're looking for doesn't exist or under construction. if you think somthing is broken, complaint a problem.</h3>
        <h3></h3>
        <a href="/"><button class="btn_box" id="btn1">Back To Home</button></a>
        <a href="#"><button class="btn_box" id="btn2">complaint</button></a>
    </div>
    </div>
</body>

</html>
