<header class="mb-0 mb-md-4">
    <div>
      <h5 class="float-md-start mb-0 text-warning">Nationalist.com</h5>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold text-white" href="/">Home</a>
        <a class="nav-link fw-bold text-white" href="/states">States</a>
        <a class="nav-link fw-bold text-white" href="/economy">Economy</a>
        <a class="nav-link fw-bold text-white" href="/culture">Cultural</a>
        <a class="nav-link fw-bold text-white" href="/politics">Politics</a>
      </nav>
    </div>
  </header>