<footer class="text-white-50">
    <p>Featured by <a href="https://getbootstrap.com/" class="text-white">Sponzeala.com</a>, with <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>