<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <%- include('main_header'); %>
  <br>
  <%- include('politics_header'); %>

  <main class="px-3 py-3">
    <h1>India's Parliamentary system</h1>
    <p class="lead text-secondary">The Parliament of India (IAST: Bhāratīya Sansad) is the supreme legislative body of the Republic of India. It is a bicameral legislature composed of the Rajya Sabha (Council of States) and the Lok Sabha (House of the People). The President of India, in their role as head of the legislature, has full powers to summon and prorogue either house of Parliament or to dissolve the Lok Sabha, but they can exercise these powers only upon the advice of the Prime Minister and their Union Council of Ministers.</p>
    <p class="lead text-secondary mb-4">Those elected or nominated (by the president) to either house of Parliament are referred to as members of Parliament (MPs). The members of parliament of the Lok Sabha are directly elected by the Indian public voting in single-member districts and the members of parliament of the Rajya Sabha are elected by the members of all state legislative assemblies by proportional representation. The Parliament has a sanctioned strength of 552 in the Lok Sabha and 250 in the Rajya Sabha including 12 nominees from the expertise of different fields of literature, art, science, and social service.</p>
        <img id="states" class="m-2 rounded" src="../images/parlament.jpg"><br><br>
        <h4>Lok Sabha</h4>
      <p class="lead text-secondary">The Lok Sabha (House of the People) or the lower house has 543 members. Members are directly elected by citizens of India on the basis of universal adult franchise representing parliamentary constituencies across the country. Between 1952 and 2020, two additional members of the Anglo-Indian community were also nominated by the president of India on the advice of the Indian government, which was abolished in January 2020 by the 104th Constitutional Amendment Act, 2019.</p>
      <h4>Rajya Sabha</h4>
      <p class="lead text-secondary">The Rajya Sabha (Council of States) or the Upper House is a permanent body not subject to dissolution. One-third of the members retire every second year and are replaced by newly elected members. Each member is elected for a term of six years.[21] Its members are indirectly elected by elected members of legislative assembly of the states. The Rajya Sabha can have a maximum of 250 members. It currently has a sanctioned strength of 245 members, of which 233 are elected from states, and union territories and 12 are nominated by the president. The number of members from a state depends on its population. The minimum age for a person to become a member of the Rajya Sabha is 30 years.[22] There are no caste based reservations in Rajya Sabha.</p>
      
  </main>

  <%- include('main_footer'); %>
</div>
</script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    

</body>
</html>