<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <%- include('main_header'); %>
  <br>
  <%- include('politics_header'); %>

  <main class="px-3 py-3">
    <h1>About the India's Political system</h1>
    <p class="lead text-secondary">Politics of India works within the framework of the country's Constitution. India is a parliamentary secular democratic republic in which the president of India is the head of state & first citizen of India and the Prime Minister of India is the head of government. It is based on the federal structure of government, although the word is not used in the Constitution itself. India follows the dual polity system, i.e. federal in nature, that consists of the central authority at the centre and states at the periphery. The Constitution defines the organizational powers and limitations of both central and state governments; it is well recognised, fluid (Preamble of the Constitution being rigid and to dictate further amendments to the Constitution) and considered supreme, i.e. the laws of the nation must conform to it. India is officially declared a secular and socialist state as per the Constitution.</p>
    <p class="lead text-secondary mb-4">There is a provision for a bicameral legislature consisting of an upper house, the Rajya Sabha (Council of States), which represents the states of the Indian federation, and a lower house, the Lok Sabha (House of the People), which represents the people of India as a whole. The Constitution provides for an independent judiciary, which is headed by the Supreme Court. The court's mandate is to protect the Constitution, to settle disputes between the central government and the states, to settle inter-state disputes, to nullify any central or state laws that go against the Constitution and to protect the fundamental rights of citizens, issuing writs for their enforcement in cases of violation.</p>
        <img id="states" class="m-2 rounded" src="../images/politics.jpg">
      <p class="lead text-secondary mt-4">There are 543 members in the Lok Sabha, who are elected using plurality voting (first past the post) system from 543 Single-member district. There are 245 members in the Rajya Sabha, out of which 233 are elected through indirect elections by single transferable vote by the members of the state legislative assemblies; 12 other members are elected/nominated by the President of India. Governments are formed through elections held every five years (unless otherwise specified), by parties that secure a majority of members in their respective lower houses (Lok Sabha in the central government and Vidhan Sabha in states).</p>
      <p class="lead text-secondary">India had its first general election in 1951, which was won by the Indian National Congress, a political party that went on to dominate subsequent elections until 1977, when a non-Congress government was formed for the first time in independent India. The 1990s saw the end of single-party domination and the rise of coalition governments. The latest 18th Lok Sabha elections was conducted in seven phases from 19 April 2024 to 1 June 2024 by the Election commission of India. The results bought in the NDA (National Democratic Alliance) to form in the next government.</p>
      <img id="states" class="m-2 rounded w-50" src="../images/politics2.jpg">
      <p class="lead text-secondary">The Government of India is modelled after the Westminster system. The Union government (also called as the Central government) is mainly composed of the executive, the legislature, and the judiciary, and powers are vested by the constitution in the prime minister, parliament, and the supreme court, respectively. The president of India is the head of state and the commander-in-chief of the Indian Armed Forces, while the elected prime minister acts as the head of the executive and is responsible for running the Union government. The parliament is bicameral in nature, with the Lok Sabha being the lower house, and the Rajya Sabha the upper house. The judiciary systematically contains an apex supreme court, 25 high courts, and 688 district courts, all inferior to the supreme court.</p>
      <p class="lead text-secondary">he basic civil and criminal laws governing the citizens of India are set down in major parliamentary legislation, such as the civil procedure code, the penal code, and the criminal procedure code. Similar to the Union government, individual state governments each consist of executive, legislative and judiciary branches. The legal system as applicable to the Union and individual state governments is based on the English common and Statutory Law. The term New Delhi is commonly used as a metonym for the Union government, as the seat of the central government is in New Delhi.</p>
  </main>

  <%- include('main_footer'); %>
</div>
</script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    

</body>
</html>