<header class="mb-0 mb-md-4">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/gujarat">Gujarat</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/rajasthan">Rajasthan</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/uttar_pradesh">Uttar Pradesh</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Madhya Pradesh</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Jammu & kashmir</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Tamil nadu</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Andhra Pradesh</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Haryana</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Goa</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Assam</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Sikkim</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Odisha</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Telangana</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Maharashtra</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">West Bengal</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Mizoram</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Panjab</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Meghalaya</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Bihar</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Jharkhand</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Himachal Pradesh</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Kerala</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Manipur</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Nagaland</a>
        <a class="nav-link fw-bold py-1 px-2 text-secondary" href="/states/name">Puducherry</a>
      </nav>
    </div>
  </header>